/**
 * Author Gravatar
 */

a.gravatar {
	display: block;
	padding: 0 3rem 1rem;
}

img.gravatar {
	border-radius: 100%;
	display: block;
	position: relative;
	right: 0;
	top: 0;
	margin: 0 auto;
	border: 1px solid #d3dce2;
	z-index: 12;
}
