/**
 * Author Gravatar
 */

a.gravatar {
	display: block;
}

img.gravatar {
	border-radius: 5px 0 0 5px;
	display: block;
	position: relative;
	right: 0;
	top: 0;
	margin: 0;
	width: 4rem;
	height: 4rem;
	z-index: 12;
}
